<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAG1hdHQJAAAAAQEAAERv
	Y3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAADfQQAAAAAAAAgAAAAE
	AwAAfyUBAAAAAAAIAAAABAMAALElAQAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHGVdbkgAAAGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUA
	AAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAAJAAAAAEBAAAyRDY4RkM0Ni1BODhG
	LTQ3MjYtOTYyOC0zMzE4MTcwMjJBODgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAA
	AQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAc2NvZAIAAAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAAQAAAAAAA
	AAAFEAAAhAAAAAAAAAAQEAAAqAAAAAAAAABAEAAAmAAAAAAAAAACIAAAbAEAAAAAAAAF
	IAAA7AAAAAAAAAAQIAAA/AAAAAAAAAARIAAAIAEAAAAAAAASIAAAEAEAAAAAAAATIAAA
	mAAAAAAAAAAgIAAATAEAAAAAAAAwIAAAyAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAA
	AAAAAAASwAAA4AAAAAAAAAAB0AAAyAAAAAAAAAAQ0AAABAAAAAAAAAAX8AAALAAAAAAA
	AAAi8AAAeAEAAAAAAAA=
	</data>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>685 715 430 195 0 0 1800 1125 </string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>1</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>6</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>centerThird</key>
	<dict/>
	<key>firstThird</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>firstTwoThirds</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>installVersion</key>
	<string>99</string>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>[1,{"action":15},4,{"compound":-2},7,{"compound":-4},3,{"action":16},2,{"action":2},5,{"compound":-3},6,{"action":13},8,{"action":14}]</string>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>24</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>lastThird</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>lastTwoThirds</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>lastVersion</key>
	<string>99</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>0</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>restore</key>
	<dict>
		<key>keyCode</key>
		<integer>51</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>27</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>13</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>12</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>14</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
</dict>
</plist>
